<!DOCTYPE html>
<html lang="es-mx">
  <head>
    <%- include("partials/head") %>
    <link rel="stylesheet" href="/css/home/bodyStyles.css" />
    <link rel="stylesheet" href="/css/home/carruselStyle.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Welcome to "Tech Land"!</title>
  </head>

  

<body>
    <%- include('./partials/header')%>
    <%- include('./partials/carrusel')%>
  

  <main class="firstContent">
    <h2 class="titleMain">Productos Destacados:</h2>
    <section class="featuredProducts">
      <% listOfProducts.forEach(product => { %>
      <a href="/productDetail/<%= product.id %>">
        <article class="Item">
          <img class="itemImage" src="<%= product.img %>" alt="Core-i9" />
          <div class="specifications">
            <h3 class="titleItem">
              <%= product.name %>              
            </h3>
            <p class="price">$ <%= product.price %></p>
            <p class="recommendations"><a href="#">Articulos similares</a></p>
          </div>
        </article>
      </a>
      <% }) %>
      

    </section>

    <h2 class="titleMain">Productos en Promoción:</h2>
    <a href="/productDetail">
      <section class="promotionalProducts">
        <article class="Item">
          <img class="itemImage" src="/images/home/GabineteNZXT.jpg" alt="GabineteNZXT" />
          <div class="specifications">
            <h3 class="titleItem">
              Gabinete NZXT H510 Elite con Ventana RGB, Midi-Tower.
            </h3>
            <p class="discount">-15% ¡$585.00 menos!</p>
            <p class="moreOffers"><a href="#">Otras ofertas similares</a></p>
          </div>
        </article>
    </a>

    <a href="/productDetail">
      <article class="Item">
        <img class="itemImage img-short" src="/images/home/tecladoXzeal.jpg" alt="GabineteNZXT" />
        <div class="specifications">
          <h3 class="titleItem">
            Teclado Gamer XZEAL XZ1020, Teclado Mecánico.
          </h3>
          <p class="discount">-10% ¡$75.00 menos!</p>
          <p class="moreOffers"><a href="#">Otras ofertas similares</a></p>
        </div>
      </article>
    </a>

    <a href="/productDetail">
      <article class="Item">
        <img class="itemImage" src="/images/home/mouseEvga.jpg" alt="GabineteNZXT" />
        <div class="specifications">
          <h3 class="titleItem">
            Gabinete NZXT H510 Elite con Ventana RGB, Midi-Tower
          </h3>
          <p class="discount">-8% ¡$90.00 menos!</p>
          <p class="moreOffers"><a href="#">Otras ofertas similares</a></p>
        </div>
      </article>
    </a>

    <a href="/productDetail">
      <article class="Item">
        <img class="itemImage img-short" src="/images/home/ramCorsair.jpg" alt="RamCorsair" />
        <div class="specifications">
          <h3 class="titleItem">
            Memoria RAM Corsair Vengeance DDR3, 1600MHz, 8GB.
          </h3>
          <p class="discount">-20% ¡$180.00 menos!</p>
          <p class="moreOffers"><a href="#">Otras ofertas similares</a></p>
        </div>
      </article>
    </a>
    </section>
  </main>

  <%- include('./partials/footer')%>
  
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>

</html>