<div class="product-card">
    <img src="<%=item.products.image_product%>" alt="product-image" class="product-img">
    
    <div class="name-buttoms-product">
        <p class="product-name">
            <%=item.products.name_product%>
        </p>

        <div class="buttoms-and-price">
            <div class="buttons-for-#-items">
                <form >
                    <div class="number-of-items">
                        <button class="removeItem">
                            <i class="fas fa-trash"></i>
                        </button>
                        <input type="number" name= "quantity" class="quantity" value="<%=item.quantity%>">
                        <button class="addItem">
                            <i class="fas fa-plus"></i>
                        </button>
                    </div>
                    
                </form>      
                                                                      
            </div>

            <div class="product-price-mobile"> 
                <p class="name-price">
                    Precio:
                </p>                                                                                                  
                <p class="number-price">
                    $<%=item.products.price%>
                </p>
            </div>
        </div>

                                   
    </div>

    <div class="product-price-desktop">                            
        <p class="number-price">
            $<%=item.products.price%>
        </p>
    </div>
    

</div>
